.footer {
  background-color: #282c34;
  color: white;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-size: 16px;
}

.footer nav a:hover {
  text-decoration: underline;
}

.social-media a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-size: 18px;
}

.social-media a:hover {
  text-decoration: underline;
}
